@model SeafoodMarket.Models.Newsletter

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SeafoodMarket</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/Home/Confirmation.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
                    <hr />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel  slide">
                <!-- Dot Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Items -->
                <div class="carousel-inner">
                   
                    <div class="active item">
                        <img src="~/images/crabs2.jpg" class="img-carousel" />
                        <h2 class="text-carousel news-one"><span>Russian Crab Companies Delay<br />Fishing Due to New Processing Rules. Crab Prices Rise</span></h2>

                    </div>
                    <div class="item">
                        <img src="~/images/ship2.jpg" class="img-carousel" />
                        <h2 class="text-carousel news-two"><span>Southeast Alaska <br />Dungeness Fishery Worst in Decades</span></h2>
                    </div>
                    <div class="item">
                        <img src="~/images/crabs.jpg" class="img-carousel" />
                        <h2 class="text-carousel news-three"><span> The commercial harvest for Dungeness<br />crab in Southeast Alaska this summer was the smallest in several decades.</span></h2>
                    </div>
                    <div class="item">
                        <img src="~/images/lobsters2.jpg" class="img-carousel">
                        <h2 class="text-carousel news-four"><span>Qingdao Clears Live Lobsters from <br />Canada in 40 Minutes</span></h2>
                    </div>
                </div>
                <!-- Navigation -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <h2>Congradulations, you are singed up for our news</h2>
    <h3>We will send our latest news on this email: @Html.DisplayFor(model => model.Email)</h3>
    <br />
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="testiminial-block">
                    <div class="row">
                        <div class="col-md-3"><img src="http://library.urnerbarry.com/Images/Seafood News Images/snowcrab_quinlan.jpg" class="img-responsive img-rounded" /></div>
                        <div class="col-md-9 news">
                            <h3>Russian Crab Companies Delay Fishing Due to New Processing Rules; Crab Prices Rise</h3>
                            <p>
                                Crab season in Russia is under a threat of failure this year, due to the recently introduced ban of on-board processing of crabs caught within the Russian territorialwaters that extend out to 12 miles, initiated by the Russian government.
                                The introduction of the ban has already resulted in massive protests of Russian leading crab producers in the Russian Far East, who prefer not to fish until the ban is lifted.
                                According to state plans, on-shore crab processing will result in the establishment of additional processing capacities and will create new jobs.
                            </p>
                            <div class="testimonial-author">
                                Author Name <span>(Ray Parker)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="testiminial-block">
                    <div class="row">
                        <div class="col-md-9 news">
                            <h3>Baader supplying new Cermaq plant</h3>
                            <p>Baader’s managing director Robert Focke is delighted that the company was chosen by Cermaq as the supplier 
                            for its new state-of-the-art salmon processing plant in Norway.
                            "Baader is proud to deliver a high-tech and cutting-edge plant for slaughtering and processing of salmon,“ Robert Focke said.
                            Construction started in March this year on the new Cermaq salmon plant at Storskjæret in Norway,
                            and the 8000 square metre factory is expected to start production in the second quarter of next year.
                            According to Atle Kvist, project manager at Cermaq Norway, totality was an important consideration for the company.</p>
                            <div class="testimonial-author">
                                Author Name <span>(Ray Parker)</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="http://library.urnerbarry.com/Images/Seafood News Images/copperriverkingsalmon.jpg" class="img-responsive img-rounded" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="testiminial-block">
                    <div class="row">
                        <div class="col-md-3"><img src="https://s3.amazonaws.com/divcomplatform/seafoodsource.com/images/f35d4e2faa0d6fca1f3b94c0f055d605.jpeg" class="img-responsive img-rounded" /></div>
                        <div class="col-md-9 news">
                            <h3>Nurturing and supporting Scottish fisheries potential</h3>
                            <p>Fisheries Innovation Scotland (FIS) is seeking applications for its latest set of development projects which include a Fisheries Innovation Award Competition, 
                                a bursary to help career development and a feasibility study into self-sampling in the pelagic sector.</p>
                            <p>The first of what is hoped will be an annual Fisheries Innovation Award Competition is open to everyone. It will focus on two areas: 
                        Innovation in reducing the cost of catching fish/shellfish and innovation in improving the quality and value of the catch, both geared towards increasing profitability.</p>
                            <div class="testimonial-author">
                                Author Name <span>(Pete Smith)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>