@using SeafoodMarket.ViewModels
@model SignUpForNewsViewModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SeafoodMarket</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/Home/SignUpForNews.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>@Html.ActionLink("Sign up for news", "SignUpForNews")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        @using (Html.BeginForm("SignUpForNews", "Home", FormMethod.Post))
        {

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)

            @Html.LabelFor(m => m.Preference)
            @Html.TextBoxFor(m => m.Preference)

            <input type="submit" value="Sign up" class="btn btn-default" />
        }
    </div>

</body>