@using SeafoodMarket.ViewModels
@model SignUpForNewsViewModel


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SeafoodMarket</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/Home/SignUpForNews.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
<div class="container">
    <div class="row">
        <div id="myCarousel" class="carousel  slide">
            <!-- Dot Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Items -->
            <div class="carousel-inner">
                <div class="active item"> <img src="~/images/crabs2.jpg" class="img-carousel"/>
                    <h2 class="text-carousel"><span>Russian Crab Companies Delay<br />Fishing Due to New Processing Rules. Crab Prices Rise</span></h2>
                    
                </div>
                <div class="item">
                    <img src="~/images/ship2.jpg" class="img-carousel" />
                    <h2 class="text-carousel"><span>Russian Crab Companies Delay<br />Fishing Due to New Processing Rules. Crab Prices Rise</span></h2>

                </div>
                <div class="item">  <img src="~/images/crabs.jpg"  class="img-carousel"/></div>
                <div class="item"> <img src="~/images/lobsters2.jpg" class="img-carousel"></div>
            </div>
            <!-- Navigation -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
    <div>
        @using (Html.BeginForm("SignUpForNews", "Home", FormMethod.Post))
        {

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)

            @Html.LabelFor(m => m.Preference)
            @Html.TextBoxFor(m => m.Preference)

            <input type="submit" value="Sign up" class="btn btn-default" />
        }
    </div>

</body>