@using SeafoodMarket.ViewModels
@model SignUpForNewsViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SeafoodMarket</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/Home/SignUpForNews.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
            <h2>
                <span>Sign up <strong>For our news</strong></span>
            </h2>
            <br>
            <div>
                <h3>
                    <span>Our latest news always with you</span>
                </h3>
                <br>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5 form-sign-up">
                            @using (Html.BeginForm("SignUpForNews", "Home", FormMethod.Post))
                            {
                                <div class="form-group  text-center sign-up-news">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })
                                </div>
                                <div class="form-group  text-center sign-up-news">
                                    @Html.LabelFor(m => m.Preference)
                                    @Html.TextBoxFor(m => m.Preference, new { @class = "form-control", required = "required" })
                                </div>
                                <input class="btn btn-theme btn-sm btn-min-block sign-up" type="submit" value="Sign up" />
                            }
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div><!-- /header-text -->
</body>